In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/PTB_XL/ptbxl_database.csv')

In [4]:
df

,ecg_id,patient_id,age,sex,height,weight,nurse,site,device,recording_date,...,validated_by_human,baseline_drift,static_noise,burst_noise,electrodes_problems,extra_beats,pacemaker,strat_fold,filename_lr,filename_hr
0,1,15709.0,56.0,1,NaN,63.0,2.0,0.0,CS-12 E,1984-11-09 09:17:34,...,True,NaN,", I-V1,",NaN,NaN,NaN,NaN,3,records100/00000/00001_lr,records500/00000/00001_hr
1,2,13243.0,19.0,0,NaN,70.0,2.0,0.0,CS-12 E,1984-11-14 12:55:37,...,True,NaN,NaN,NaN,NaN,NaN,NaN,2,records100/00000/00002_lr,records500/00000/00002_hr
2,3,20372.0,37.0,1,NaN,69.0,2.0,0.0,CS-12 E,1984-11-15 12:49:10,...,True,NaN,NaN,NaN,NaN,NaN,NaN,5,records100/00000/00003_lr,records500/00000/00003_hr
3,4,17014.0,24.0,0,NaN,82.0,2.0,0.0,CS-12 E,1984-11-15 13:44:57,...,True,", II,III,AVF",NaN,NaN,NaN,NaN,NaN,3,records100/00000/00004_lr,records500/00000/00004_hr
4,5,17448.0,19.0,1,NaN,70.0,2.0,0.0,CS-12 E,1984-11-17 10:43:15,...,True,", III,AVR,AVF",NaN,NaN,NaN,NaN,NaN,4,records100/00000/00005_lr,records500/00000/00005_hr
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21794,21833,17180.0,67.0,1,NaN,NaN,1.0,2.0,AT-60 3,2001-05-31 09:14:35,...,True,NaN,", alles,",NaN,NaN,1ES,NaN,7,records100/21000/21833_lr,records500/21000/21833_hr
21795,21834,20703.0,300.0,0,NaN,NaN,1.0,2.0,AT-60 3,2001-06-05 11:33:39,...,True,NaN,NaN,NaN,NaN,NaN,NaN,4,records100/21000/21834_lr,records500/21000/21834_hr
21796,21835,19311.0,59.0,1,NaN,NaN,1.0,2.0,AT-60 3,2001-06-08 10:30:27,...,True,NaN,", I-AVR,",NaN,NaN,NaN,NaN,2,records100/21000/21835_lr,records500/21000/21835_hr
21797,21836,8873.0,64.0,1,NaN,NaN,1.0,2.0,AT-60 3,2001-06-09 18:21:49,...,True,NaN,NaN,NaN,NaN,SVES,NaN,8,records100/21000/21836_lr,records500/21000/21836_hr
21798,21837,11744.0,68.0,0,NaN,NaN,1.0,2.0,AT-60 3,2001-06-11 16:43:01,...,True,NaN,", I-AVL,",NaN,NaN,NaN,NaN,9,records100/21000/21837_lr,records500/21000/21837_hr

In [5]:
df['sex'].value_counts(normalize = True)
# 0 is male
# 1 is female

sex
0    0.52085
1    0.47915
Name: proportion, dtype: float64

In [8]:
df['filename'] = df['filename_lr'].apply(lambda x : x.split('/')[-1].split('_')[0])

In [10]:
df.columns

Index(['ecg_id', 'patient_id', 'age', 'sex', 'height', 'weight', 'nurse',
       'site', 'device', 'recording_date', 'report', 'scp_codes', 'heart_axis',
       'infarction_stadium1', 'infarction_stadium2', 'validated_by',
       'second_opinion', 'initial_autogenerated_report', 'validated_by_human',
       'baseline_drift', 'static_noise', 'burst_noise', 'electrodes_problems',
       'extra_beats', 'pacemaker', 'strat_fold', 'filename_lr', 'filename_hr',
       'filename'],
      dtype='object')

In [11]:
df_subset = df[['filename','age','sex']]

In [22]:
labels = pd.read_csv("data/PTB_XL/labels_with_final_mapping.csv" , dtype = {'patient_id' : str})
labels.rename(columns = {'patient_id':'filename'}, inplace = True)

In [23]:
meta_df = pd.merge(labels , df_subset , on = 'filename' , how = 'left')

In [24]:
meta_df

,filename,AF,STE,PVC,STD,RBBB,LBBB,IAVB,SNR,PAC,fold,age,sex
0,00001,0,0,0,0,0,0,0,1,0,8,56.0,1
1,00002,0,0,0,0,0,0,0,1,0,1,19.0,0
2,00003,0,0,0,0,0,0,0,1,0,7,37.0,1
3,00004,0,0,0,0,0,0,0,1,0,5,24.0,0
4,00005,0,0,0,0,0,0,0,1,0,7,19.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21536,21833,0,0,1,0,0,0,0,1,0,8,67.0,1
21537,21834,0,0,0,0,0,0,0,1,0,10,300.0,0
21538,21835,0,0,0,1,0,0,0,0,0,9,59.0,1
21539,21836,0,0,0,0,0,0,0,1,0,10,64.0,1
21540,21837,0,0,0,0,0,0,0,1,0,7,68.0,0

In [44]:
diagnosis = ['SNR','AF', 'IAVB' , 'LBBB' , 'RBBB' , 'PAC' , 'PVC' , 'STD' , 'STE']

for d in diagnosis:
    subset = meta_df[meta_df[d] == 1]
    print("\\textbf{{{}}}&".format(d))
    print("{:.0f} ({:.2f})&".format(len(subset) , len(subset)/len(meta_df)*100))
    male_count = len(subset[subset['sex'] == 0])
    print("{:.0f} ({:.2f})&".format(male_count , male_count/len(subset)*100))
    print("{:.2f} ({:.2f})\\\\\\hline".format(subset['age'].mean() , subset['age'].std()))

\textbf{SNR}&
14373 (66.72)&
6921 (48.15)&
58.88 (29.09)\\\hline
\textbf{AF}&
207 (0.96)&
123 (59.42)&
61.02 (29.23)\\\hline
\textbf{IAVB}&
1536 (7.13)&
951 (61.91)&
74.13 (41.18)\\\hline
\textbf{LBBB}&
2231 (10.36)&
1343 (60.20)&
77.51 (46.88)\\\hline
\textbf{RBBB}&
1735 (8.05)&
1130 (65.13)&
66.80 (38.05)\\\hline
\textbf{PAC}&
324 (1.50)&
184 (56.79)&
73.03 (38.64)\\\hline
\textbf{PVC}&
1027 (4.77)&
609 (59.30)&
73.54 (40.05)\\\hline
\textbf{STD}&
728 (3.38)&
284 (39.01)&
73.29 (41.47)\\\hline
\textbf{STE}&
5469 (25.39)&
3407 (62.30)&
71.44 (36.55)\\\hline